{% extends "layout.html" %}
{% block content %}
        <h1 style="color:blue; text-align: center">Home</h1>
        <p style="font-size:24px">
            <strong>Carbon emissions</strong> constitute the 60% of the ecological footprint, and are one of the
            main contributors to climate change.
            </br>
            </br>
            <strong>Transport carbon emissions</strong> are an important share of carbon emissions. We develop a <strong>methodology</strong> (<a href="{{ url_for('methodology') }}">link</a>) to
            compute transport carbon emissions, and we develop an <strong>app</strong> (<a href="{{ url_for('app_calculator') }}">link</a>) to track those emissions.
        </p>
        <p style="font-size:24px">
          The developers of this app come from different backgrounds. Most of us are bachelor students at HVL and NHH, and share a common interest in policies to mitigate climate change and in the
          promotion of a fair and inclusive green transition.
          </br>
          </br>
          We have a strong background in quantitative analysis complemented with our skills in programming and
          app development. We are also committed with the big transformations and debates taken place in the society
          and we are involved in the political debates participating actively in political forums.
      </p>

      <p style="font-size:24px; text-align: left">
          <strong>Developers:</strong>
          <ul style="font-size:24px; text-align: left">
              <li>
                  <strong>Developer 1</strong>: Brief bio. Link to cv.
              </li>
              <li>
                  <strong>Developer 2</strong>: Brief bio. Link to cv.
              </li>
          </ul>
      </p>
{% endblock content %}