<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}
    </head>
    <body>
        <h2>Navbar:</h2>
        <ul style="font-size:24px; text-align: left">
            <li>
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('methodology') }}">Methology</a>
            </li>
            <li>
                <a href="{{ url_for('carbon_app') }}">Carbon App</a>
            </li>
        </ul>
        {% block content %} {% endblock %}
    </body>
</html>