<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1 style="color:blue; text-align: center">methodology</h1>

    <p style="font-size:24px">
        We have deveveloped a methodology based on different research papers and specialized organisms as ...            
    </p>

    <p style="font-size:24px; text-align: left">
        <strong>Methodology. We describe briefly the methodology employed in our app:</strong>
        <ol style="font-size:24px; text-align: left">
            <li>
                We assume that the fuel type employed by a particular transport mode is the most popular for that
                category
            </li>
            <li>
                We assume that the transport carbon emissions of cyclist and  pedestrians are nill.
            </li>
        </ol>
    </p>

    <p style="font-size:24px; text-align: left">
        <strong>Bibliography:</strong>
        <ul style="font-size:24px; text-align: left">
            <li>
                <strong>Paper 1</strong>: Brief summary.
            </li>
            <li>
                <strong>Paper 2</strong>: Brief summary.
            </li>
        </ul>
    </p>
</body>
</html>
