{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
    <div class="container">
  
      <div class="header">
        <div class="box"> 
          <h1 style="font-size:55px;"><span class="text-logo"> Methodology</span></h1>
          <p style="text-align:left;">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
          </p>
          <div class="container_buttons_links_header">
            <div class="btn">
                <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Paper</a>
            </div>
            <div class="btn">
                <a href="{{url_for('carbon_app')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Carbon App</a>
            </div>
          </div>  
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='icons/methodology1.svg')}}"
            width="325" 
            height="325"
            alt=""/>
        </div>
      </div>
      
    </div>
</section> 

<!-- Methodology -->
<section class="section_body_methodology">
    <div class="container">
  
        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> Methodology</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut? Praesentium quidem sunt perspiciatis doloremque fugiat nesciunt quaerat ullam, pariatur iure unde ratione ipsum adipisci repellendus, repudiandae hic sit, temporibus molestias corrupti aut soluta sequi! Architecto deleniti expedita nisi repudiandae enim eum quas odit facilis placeat neque porro, animi incidunt consectetur. Maiores ab saepe tempora, iure asperiores beatae suscipit cum ipsum, rerum doloremque reprehenderit dolorum debitis, aliquam quasi. Maiores corporis fuga quasi nesciunt dolor iste, inventore necessitatibus unde!
            </p>      
        </div>

        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> Our numbers and formulas</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut? 
            </p> 
        </div>

        <!--Enumerated list (table)-->
        <div class="methodology">              
            <div class="box_table">
                      
            </div>
            <div class="box_table">
                <ol>
                    <li>
                        <h4>Buses</h4>
                        <p class="text-left">
                            The <strong>carbon dioxide emissions</strong> produced by buses are organized in <strong>four categories</strong>. The carbon dioxide emission produced by diesel buses is 0.10231 grammes per kilometer. The carbon dioxide emission produced by CNG buses is 0.08 grammes per kilometer. The carbon dioxide emission produced by petrol buses is 0.10231 grammes per kilometer. If the buses do not use fossil fuel, their dioxide carbon emissions are 0 grammes per kilometer.
                            <br>
                            To work out buses dioxide emissions, we use the next formula:
                            \[CO^2 = {Cte + \sqrt{f(km)} \over t}.\]
                            <br>
                            Where:
                            <ul style="text-align:left;">
                                <li>
                                    \(Cte\) is a constant, since the engine requires some fuel to initialize.
                                </li>
                                <li>
                                    \(km\) are the kilometers.
                                </li>
                                <li>
                                    \(f\) is a coefficient depending on the type of fuel (see paragraph above).
                                </li>
                                <li>
                                    \(t\) is the temperature, since in winter the engines require less fuel.
                                </li>
                            </ul>
                            
                        </p>
                    </li>
                    <li>
                        <h4>Cars</h4>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestias minus nam, magnam error magni inventore rem debitis est, odio explicabo ducimus! Accusantium libero amet, cum tenetur earum dolores perferendis!
                        </p>
                    </li>
                    <li>
                        <h4>Planes</h4>
                        <p class="text-left">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, aspernatur eos, ab necessitatibus iusto quos vel odit praesentium asperiores repudiandae reprehenderit aut similique veniam eius provident. Quibusdam harum doloribus facere tenetur qui cupiditate, deleniti, rerum enim voluptas eligendi, vel quod.
                        </p>
                    </li>
                </ol>                        
            </div>
            <div class="box_table">
                      
            </div>  
        </div>
      
    </div>
</section>

{% endblock content %}